<div class="table mt-4">
  <h3>Deleted courses</h3>    
  <a href="/me/stored/courses">Go back to my courses</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col"></th>

      </tr>
    </thead>

    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>
            <a href="" class="btn btn-info btn-restore" data-id={{this._id}}>Restore</a>
            <a
              href=""
              class="btn btn-info"
              data-toggle="modal"
              data-target="#delete-course-modal"
              data-id="{{this._id}}"
            >Remove</a></td>
        </tr>
      {{else}}
        <td colspan="5" class="text-center">
          No courses are deleted.
        </td>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete course }}
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete course</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Click delete to delete the course
      </div>
      <div class="modal-footer"><button
          type="button"
          class="btn btn-danger"
          id="btn-delete-course"
        >Really delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Cancel</button>

      </div>
    </div>
  </div>
</div>

{{! Delete form }}
<form name="delete-course-form" method="POST"></form>
{{!-- Restore form --}}
<form name="restore-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded',function(){; var
  deleteForm = document.forms['delete-course-form'];
  restoreForm = document.forms['restore-course-form']; 
  var btnDeleteCourse = document.getElementById('btn-delete-course'); 
  var restoreBtn = $('.btn-restore');
  restoreBtn.click(function(event){event.preventDefault();restoreForm.action='/courses/'+$(this).data('id')+'/restore'+'?_method=PATCH'; restoreForm.submit()})

  $('#delete-course-modal').on('show.bs.modal', function (event) { var button =
  $('#delete-course-modal').on('show.bs.modal', function (event) { var button =
  $(event.relatedTarget) ; var courseId = button.data('id');
  btnDeleteCourse.onclick = function(){ console.log("123");
  deleteForm.action='/courses/'+courseId+'/force?_method=DELETE'; deleteForm.submit()}
  } )})

</script>